@{
    ViewBag.Title = "Home";
}

@section HeadContent
{
    <link href="~/Content/home/HomeStyles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
}

<section class="mine">

    <h1>Discover what's out there</h1>

    <form action="/Plant/Search">

        <div class="input-group">

            <input type="text" name="searchString" class="form-control" placeholder="Search with keywords" required>

            <div class="input-group-append">

                <button type="submit" class="input-group-text btn">Search</button>

            </div>

        </div>

    </form>

    <div class="container" id="qr_adv">

        <a href="/Plant/QrSearch" class="btn btn-success">Search with QR <span class="fas fa-qrcode"></span></a>

    </div>

</section>

<section class="features">

    <h1>Newly Added Plants</h1>

    <div class="container">

        <div class="row">
            @for (int i = 0; i < ViewBag.RecentlyAdded.Count; i++)
            {
                <div class="col-md-4">

                    <div class="feature-box">

                        <div class="feature-img">
                            @if (ViewBag.RecentlyAdded[i][5] != "")
                            {
                                <img src="@Url.Content(ViewBag.RecentlyAdded[i][5])" alt="image">
                            }

                            <div class="feature-details">
                                <p><small><i>Added on @ViewBag.RecentlyAdded[i][6] by @ViewBag.RecentlyAdded[i][7]</i></small></p>
                                <p>Location: @ViewBag.RecentlyAdded[i][0]</p>
                                <p>Family Name: @ViewBag.RecentlyAdded[i][1]</p>
                                <p>Botanical Name: @ViewBag.RecentlyAdded[i][2]</p>
                                <p>Variety Name: @ViewBag.RecentlyAdded[i][3]</p>
                                <p><a href="/Plant/Details/@ViewBag.RecentlyAdded[i][4]">Read More...</a></p>
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>

    </div>

</section>

