@{
    ViewBag.Title = "Edit";
    <style>
        form img{
            height:300px;
            width:auto;
        }
    </style>
    bool required;
    if(ViewBag.Img1 == "")// plants were never added
    {
        required = true;
    }
    else
    {
        required = false;
    }
}


<div class="container">
    <center><h2>Edit Plant Details</h2></center>
    <form class="needs-validation" method="post" novalidate>
        <div class="form-group">
            <label for="FamilyName">FamilyName: *</label>
            <input type="text" class="form-control" id="FamilyName" name="FamilyName" value="@ViewBag.FamilyName" required>
        </div>
        <div class="form-group">
            <label for="FamilyCommonName">FamilyCommonName:</label>
            <input type="text" class="form-control" id="FamilyCommonName" name="FamilyCommonName" value="@ViewBag.FamilyCommonName">
        </div>
        <div class="form-group">
            <label for="Habitat">Habitat:</label>
            <input type="text" class="form-control" id="Habitat" name="Habitat" value="@ViewBag.Habitat">
        </div>
        <div class="form-group">
            <label for="CommonName">CommonName: *</label>
            <input type="text" class="form-control" id="CommonName" name="CommonName" value="@ViewBag.CommonName" required>
        </div>
        <div class="form-group">
            <label for="BotanicalName">BotanicalName: *</label>
            <input type="text" class="form-control" id="BotanicalName" name="BotanicalName" value="@ViewBag.BotanicalName" required>
        </div>
        <div class="form-group">
            <label for="ChromosomeNo">ChromosomeNo: *</label>
            <input type="number" class="form-control" id="ChromosomeNo" name="ChromosomeNo" value="@ViewBag.ChromosomeNo" required>
        </div>
        <div class="form-group">
            <label for="Genus">Genus:</label>
            <input type="text" class="form-control" id="Genus" name="Genus" value="@ViewBag.Genus">
        </div>
        <div class="form-group">
            <label for="Species">Species:</label>
            <input type="text" class="form-control" id="Species" name="Species" value="@ViewBag.Species">
        </div>
        <div class="form-group">
            <label for="Uses">Uses:</label>
            <input type="text" class="form-control" id="Uses" name="Uses" value="@ViewBag.Uses">
        </div>
        <div class="form-group">
            <label for="MedicalBenefit">MedicalBenefit:</label>
            <input type="text" class="form-control" id="MedicalBenefit" name="MedicalBenefit" value="@ViewBag.MedicalBenefit">
        </div>
        <div class="form-group">
            <label for="HealthHazard">HealthHazard:</label>
            <input type="text" class="form-control" id="HealthHazard" name="HealthHazard" value="@ViewBag.HealthHazard">
        </div>
        <div class="form-group">
            <label for="VarietyName">VarietyName: *</label>
            <input type="text" class="form-control" id="VarietyName" name="VarietyName" value="@ViewBag.VarietyName" required>
        </div>
        <div class="form-group">
            <label for="Nature">Nature: *</label>
            <input type="text" class="form-control" id="Nature" name="Nature" value="@ViewBag.Nature" required>
        </div>
        <div class="form-group">
            <label for="TimeOfSetting">TimeOfSetting:</label>
            <input type="text" class="form-control" id="TimeOfSetting" name="TimeOfSetting" value="@ViewBag.TimeOfSetting">
        </div>
        <div class="form-group">
            <label for="TimeOfFlowering">TimeOfFlowering:</label>
            <input type="text" class="form-control" id="TimeOfFlowering" name="TimeOfFlowering" value="@ViewBag.TimeOfFlowering">
        </div>
        <div class="form-group">
            <label for="RotationPeriod">RotationPeriod:</label>
            <input type="text" class="form-control" id="RotationPeriod" name="RotationPeriod" value="@ViewBag.RotationPeriod">
        </div>
        <div class="form-group">
            <label for="PropagationMethod">PropagationMethod:</label>
            <input type="text" class="form-control" id="PropagationMethod" name="PropagationMethod" value="@ViewBag.PropagationMethod">
        </div>
        <div class="form-group">
            <label for="TreeHeight">TreeHeight:</label>
            <input type="number" class="form-control" id="TreeHeight" name="TreeHeight" value="@ViewBag.TreeHeight">
        </div>
        <div class="form-group">
            <label for="TrunkColor">TrunkColor:</label>
            <input type="text" class="form-control" id="TrunkColor" name="TrunkColor" value="@ViewBag.TrunkColor">
        </div>
        <div class="form-group">
            <label for="TreeForm">TreeForm:</label>
            <input type="text" class="form-control" id="TreeForm" name="TreeForm" value="@ViewBag.TreeForm">
        </div>
        <div class="form-group">
            <label for="LeafShape">LeafShape:</label>
            <input type="text" class="form-control" id="LeafShape" name="LeafShape" value="@ViewBag.LeafShape">
        </div>
        <div class="form-group">
            <label for="Fragrance">Fragrance:</label>
            <input type="text" class="form-control" id="Fragrance" name="Fragrance" value="@ViewBag.Fragrance">
        </div>
        <div class="form-group">
            <label for="WoodCharacter">WoodCharacter:</label>
            <input type="text" class="form-control" id="WoodCharacter" name="WoodCharacter" value="@ViewBag.WoodCharacter">
        </div>
        <div class="form-group">
            <label for="FruitType">FruitType:</label>
            <input type="text" class="form-control" id="FruitType" name="FruitType" value="@ViewBag.FruitType">
        </div>
        <div class="form-group">
            <label for="BarkColor">BarkColor:</label>
            <input type="text" class="form-control" id="BarkColor" name="BarkColor" value="@ViewBag.BarkColor">
        </div>
        <div class="form-group">
            <label for="BarkTexture">BarkTexture:</label>
            <input type="text" class="form-control" id="BarkTexture" name="BarkTexture" value="@ViewBag.BarkTexture">
        </div>
        <div class="form-group">
            <label for="LitterType">LitterType:</label>
            <input type="text" class="form-control" id="LitterType" name="LitterType" value="@ViewBag.LitterType">
        </div>
        <div class="form-group">
            <label for="Longevity">Longevity:</label>
            <input type="text" class="form-control" id="Longevity" name="Longevity" value="@ViewBag.Longevity">
        </div>
        <div class="form-group">
            <label for="GrowingCondition">GrowingCondition:</label>
            <input type="text" class="form-control" id="GrowingCondition" name="GrowingCondition" value="@ViewBag.GrowingCondition">
        </div>
        <div class="form-group">
            <label for="DateOfPlanting">DateOfPlanting:</label>
            <input type="text" class="form-control" id="DateOfPlanting" name="DateOfPlanting" value="@ViewBag.DateOfPlanting" placeholder="yyyy-mm-dd">
        </div>
        <div class="form-group">
            <label for="LocationOfPlant">LocationOfPlant:</label>
            <input type="text" class="form-control" id="LocationOfPlant" name="LocationOfPlant" value="@ViewBag.LocationOfPlant">
        </div>
        <button class="btn btn-outline-primary" type="submit">Update</button>
    </form>
    <center><h2>Update Plant Images</h2></center>
    <form action="@Url.Action("UpdateImages", "Plant")" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <input type="number" name="uId" value="@ViewBag.Id" hidden/>
        @if (ViewBag.Img1 != "" && ViewBag.Img1 != null)
        {
            <img src="@Url.Content(ViewBag.Img1)" alt="First image" id="img-box">
        }
        <div>
            <label for="plantImage1">Add new Image 1 </label>
            <input type="file" id="plantImage1" name="img1" accept="image/*" required="@required">
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please select an image.</div>
        </div>
        <br>
        @if (ViewBag.Img2 != "" && ViewBag.Img2 != null)
        {
            <img src="@Url.Content(ViewBag.Img2)" alt="Second image" id="img-box">
        }

        <div>
            <label for="plantImage2">Add new Image 2 </label>
            <input type="file" id="plantImage2" name="img2" accept="image/*" required="@required">
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please select an image.</div>
        </div>
        <br>
        @if (ViewBag.Img3 != "" && ViewBag.Img3 != null)
        {
            <img src="@Url.Content(ViewBag.Img3)" alt="Third image" id="img-box">
        }
        <div>
            <label for="plantImage3">Add new Image 3 </label>
            <input type="file" id="plantImage3" name="img3" accept="image/*" required="@required">
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please select an image.</div>
        </div>
        <button class="btn btn-outline-primary" type="submit">Update Images</button>
    </form>
</div>

